@import "variables.scss";

.allPokemons {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.pokeDiv {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}

.pokeList {
  height: 70vh;
  margin: 2rem;
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  justify-items: center;
  width: 100%;
  overflow: auto;
}

.pokeWrapper {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: $dark-grey;
  cursor: pointer;

  &:hover {
    background-color: $hover-grey;
  }

  & img {
    width: 70%;
    height: 70%;
  }
}

.pokeName {
  font-weight: bold;
  font-size: $medium;
}

.pokeDetails {
  text-align: center;
  position: relative;
  p {
    font-size: $medium;
  }

  .noDetailsInfo {
    margin-top: 6rem;
  }
}

.pokeDetailsCard {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  p:first-of-type {
    margin-bottom: 1rem;
  }

  p:not(:first-of-type) {
    font-size: $small;
    align-self: flex-start;
    line-height: 2.5rem;
  }

  img {
    height: 40%;
    width: 40%;
  }
}

.heartBtn {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
  align-self: flex-end;
  color: transparent;

  &:hover {
    color: red;

    path {
      stroke: none;
    }
  }

  &[data-active="true"] {
    color: red;
    path {
      stroke: none;
    }
  }
}
