html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 80vw;
  margin: 0 auto;
  background-color: rgb(249, 250, 251);
  font-size: 1.6rem;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: rgb(229, 231, 235);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav_list {
  display: flex;
  flex-direction: row;

  &_item {
    margin-left: 2rem;
  }
}

.main {
  margin: 0 auto;
  background-color: rgb(243, 244, 246);
}

.section {
  &_wrapper {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 0 3rem;
    justify-items: center;
    align-items: center;

    &:nth-child(2) {
      background-color: rgb(229, 231, 235);
    }
  }
  &_desc {
    align-self: center;
  }
  &_img {
    border: solid 0.1rem green;
    width: 30rem;
    height: 30rem;
  }
}

.footer {
  max-width: 80vw;
  background-color: rgb(229, 231, 235);
  padding: 2rem 3rem;
  text-align: center;
}
