@import "variables.scss";
@import "all.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 80vw;
  margin: 0 auto;
  background-color: $cream;
  font-size: $small;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  width: 80vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: $dark-grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-weight: bold;
  font-size: $medium;
}

.nav_list {
  display: flex;
  flex-direction: row;

  &_item {
    margin-left: 2rem;
  }
}

.main {
  margin: 0 auto;
  max-width: 80vw;
  background-color: $light-grey;
  padding: 3rem 0 10rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section {
  &_wrapper {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 0 3rem;
    justify-items: center;
    align-items: center;

    &:nth-child(2) {
      background-color: $dark-grey;

      .section_img {
        background-color: $light-grey;
      }
    }
  }

  &_desc {
    align-self: center;
    max-width: 80%;
    font-size: $large;
    line-height: 3.5rem;
  }
  &_img {
    background-color: $dark-grey;
    width: 30rem;
    height: 50rem;
  }
}

.footer {
  max-width: 80vw;
  background-color: $dark-grey;
  padding: 2rem 3rem;
  text-align: center;
}
